// 取消滚动条
::-webkit-scrollbar {
    display: none;
}
:root {
    // 单个导航宽度
    --narWidth: 210px; 
    // 单个导航高度
    --narHeight :70px;
    //头部导航圆角
    --narBordRadius: 30px 0 0 0;
    //主页名字字体大小
    --home-name-font-size: 18px;
    //主页信息字体大小
    --home-info-font-size: 12px;
    //主页头像宽高
    --home-authorImg-length : 150px;
    //技能信息字体大小
    --skill-info-font-size : 12px;
    //工作经历时间字体大小
    --work-info-time-font-size : 8px;
    //工作经历公司字体大小
    --work-info-position-font-size : 10px;
    //工作经历部门字体大小
    --work-info-department-font-size : 10px;
    //工作经历工作字体大小
    --work-info-work-font-size : 8px;
    //项目卡片标题字体大小
    --project-title-font-size : 16px;
    //项目卡片简介字体大小
    --project-profile-font-size : 14px;
    //项目中卡片的PC样式
    --projectInfoItem-width: 60vw;
    --project-infoItemBox-width: 1000px;
    --project-infoItemBox-height: 600px;
    --project-infoItemBox-border-radius: 20px;
    --project-infoItemContent-padding: 20px 60px;
    --project-infoItemContent_title-height: 200px;
    --project-infoItemContent_title_text-padding: 5px 20px;
    //项目中横向滚动的高度
    --project-sticky-wrapper-height:108.333333vw;
    //项目中详情字体
    --project-detail-font-size : 10px;
    //about中标题字体大小
    --about-title-font-size: 20px;
    //about中提示字体大小
    --about-prompt-font-size: 10px;
    //about中按钮字体大小
    --about-buttom-font-size: 8px;
    //about中按钮图标字体大小
    --about-buttom-icon-font-size: 12px;
}
@media (max-width: 1366px){
    :root {
        //主页名字字体大小
        --home-name-font-size: 0.8rem;
        //主页信息字体大小
        --home-info-font-size: 0.5rem;
        //技能信息字体大小
        --skill-info-font-size : 0.42rem;
        //工作经历时间字体大小
        --work-info-time-font-size : 0.32rem;
        //工作经历公司字体大小
        --work-info-position-font-size : 0.38rem;
        //工作经历部门字体大小
        --work-info-department-font-size : 0.38rem;
        //工作经历时间字体大小
        --work-info-work-font-size : 0.32rem;
        //项目卡片标题字体大小
        --project-title-font-size : 0.5rem;
        //项目卡片简介字体大小
        --project-profile-font-size : 0.48rem;
        //项目中详情字体
        --project-detail-font-size : 0.38rem;
        //about中标题字体大小
        --about-title-font-size: 0.7rem;
        //about中提示字体大小
        --about-prompt-font-size: 0.38rem;
        //about中按钮字体大小
        --about-buttom-font-size: 0.30rem;
        //about中按钮图标字体大小
        --about-buttom-icon-font-size: 0.42rem;
    }
}
@media (max-width: 996px) {
    :root {
        // 单个导航宽度
        --narWidth: 20vw; 
        // 单个导航高度
        --narHeight :60px;
        //头部导航圆角
        --narBordRadius: 15px 0 0 0;
        //主页名字字体大小
        --home-name-font-size: 0.6rem;
        //主页信息字体大小
        --home-info-font-size: 0.4rem;
        //主页头像宽高
        --home-authorImg-length : 80px;
        //技能信息字体大小
        --skill-info-font-size : 0.4rem;
        //项目卡片标题字体大小
        --project-title-font-size : 0.6rem;
        //项目卡片简介字体大小
        --project-profile-font-size : 0.42rem;
    }
}

//手机屏幕
@media (max-width: 500px){
    :root{
        //项目中卡片的手机样式
        --projectInfoItem-width: 90vw;
        --project-infoItemBox-width: 90vw;
        --project-infoItemBox-height: 300px;
        --project-infoItemBox-border-radius: 10px;
        --project-infoItemContent-padding: 20px 30px;
        --project-infoItemContent_title-height: 100px;
        --project-infoItemContent_title_text-padding: 5px 15px;
        //项目中横向滚动的高度
        --project-sticky-wrapper-height:108.333333vh;
    }
}