@mixin bg-img-after {
  width: 100%;
  height: 100%;
  position: absolute;
  &::after {
    content: '';
    z-index: -1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), var(--bg-img);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Resume布局相关
//单个section样式
@mixin boxItem {
  position: sticky;
  top: var(--narHeight);
  margin-top: var(--narHeight);
  width: 100%;
  height: calc(100vh - var(--narHeight));
  display: flex;
  flex-direction: column;
}
//section中标题样式
@mixin title {
  position: absolute;
  margin-top: calc(-1 * var(--narHeight));
  color: #fff;
  height: var(--narHeight);
  border-radius: var(--narBordRadius);
  overflow: hidden;
}
//导航条单个样式
@mixin narbarItem {
  height: 100%;
  width: var(--narWidth);
  @include flex-center;
  font-size: 6px;
  cursor: pointer;
  .iconfont {
    margin-right: 5px;
    font-size: 6px;
  }
}
//section导航公共背景
@mixin narbarBg {
  margin-top: calc(-1 * var(--narHeight));
  pointer-events: none;
  @include bg-img-after;
}
//section中内容样式
@mixin content {
  position: relative;
  height: calc(100vh - var(--narHeight));
  @include flex-center;
}
//section中内容背景样式
@mixin contentBg {
  overflow: hidden;
  @include bg-img-after;
  height: 100vh;
  top: 0;
  z-index: -1;
  &::after {
    margin-top: calc(-1 * var(--narHeight)) !important;
  }
}

//project 项目中单个卡片样式
@mixin projectCard {
  position: relative;
  width: var(--project-infoItemBox-width);
  height: var(--project-infoItemBox-height);
  border-radius: var(--project-infoItemBox-border-radius);
  overflow: hidden;

  // 项目图片
  .projectItemImg {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
    object-fit: cover;
  }

  //内容盒子
  .infoItemContent {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--project-infoItemContent-padding);
    cursor: pointer;

    // hover后，线出现
    &:hover .infoItemContent_title::before {
      transform: translate(0);
    }

    &:hover .infoItemContent_profile {
      opacity: 1;
      transform: translate(0);
    }

    // 标题
    .infoItemContent_title {
      box-sizing: border-box;
      position: relative;
      width: 100%;
      height: var(--project-infoItemContent_title-height);
      @include flex-center;
      overflow: hidden;

      .title_text {
        padding: var(--project-infoItemContent_title_text-padding);
        background: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        font-size: var(--project-title-font-size);
        font-weight: 700;
        color: #fff;
      }

      // 线
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: #fff;
        transition: transform 0.35s;
        transform: translate(-100%);
      }
    }

    // 简介
    .infoItemContent_profile {
      box-sizing: border-box;
      padding: 30px 0;
      color: #fff;
      font-size: var(--project-profile-font-size);
      transition:
        opacity 0.35s,
        transform 0.35s;
      transform: translate(100%);
      opacity: 0;
    }
  }
}